
.addButton{
    position: absolute;
    /* width: 210px;
    height: 48px; */
    left: 90vw;
    top: 10vh;
}

.mainTable{
    position: absolute;
     width: 1201px;
    height: 71px;
    left: 10vw;
    top: 20vp;
}

.buttonListClass{
    position: absolute;
/* width: 379px;
height: 49px; */
left: 90vw;
top: 100vh;
}