




.mainTable2{
    position: relative;
  top:50%;
  align-items: center;
  /* left:10%; */
  
    
}
.addButton{
    padding-right: 10px;
    margin-block: 10px;
}
.addButton button {
margin-inline: auto 0;
}
/* .buttonListClass{
    position: absolute; 
    top:100%; 
    left:20%;
} */

