.text_row{
    margin: 20px;
    
}
.row{
    font-weight: bold;
    box-sizing: border-box;
padding-right: 2%;
    width: 1201px;
    height: auto;
    
    background: #f5f0f0;
    border: 1.5px solid #252525;
    border-radius: 20px;
    display: flex;
    
    justify-content: space-between;
    
}

.rows{
    
   
   
    display: flex;
    
    justify-content: space-between;
    /* transform: rotate(0.55deg); */
}
.rowBox{
    
    box-sizing: border-box;

    /* position: absolute; */
    width: 1201px;
    height: auto;
    
    background: #f5f0f0;
    border: 1.5px solid #252525;
    border-radius: 20px;
}
.rowBox::before{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 1201px;
    height: auto;
    background-color: #7b56a5;
    border-radius: 20px;
    z-index: -1;
}
/* .right.rowBox::before{
    transform: rotate(2.3deg);
}
.left.rowBox::before{
    transform: rotate(-2.3deg);
} */

/* .head{
    margin: 100px;
}
.list{
    margin: 100px;
} */
.buttons{
    display: flex;
    align-items: center;
    padding-right: 2%;
    
}
.dropdownIng{
    transform: rotate(58deg)
}

/* .row_s{
    margin-top: 20px;
    box-sizing: border-box;


width: 1201px;
height: 71px;

position: absolute;
background: #7D56A5;
border: 1.5px solid #252525;
border-radius: 20px;
transform: rotate(-0.55deg);
} */

/* .rows_s{
    margin-top: 20px;
    box-sizing: border-box;


width: 1201px;
height: 71px;

position: absolute;
background: #7D56A5;
border: 1.5px solid #252525;
border-radius: 20px;
transform: rotate(-0.55deg);
} */