.text_row{
    margin: 10px;
    
}
.row{
    /* margin: 10px; */
    font-weight: bold;
    box-sizing: border-box;

    position: absolute;
<<<<<<< HEAD
    width: 1000px;
    height: 40px;
=======
    width: 1201px;
    height: auto;
>>>>>>> 270a5e5db33cb29356a25bf6d594e8027298cd82
    
    background: #f5f0f0;
    border: 1.5px solid #252525;
    border-radius: 20px;
    display: flex;
    
    justify-content: space-between;
    /* transform: rotate(0.55deg); */
}
.row_s{
    /* margin-top: 20px; */
    box-sizing: border-box;


width: 1000px;
height: 40px;

position: absolute;
background: #7D56A5;
border: 1.5px solid #252525;
border-radius: 20px;
transform: rotate(-0.55deg);
}
.rows{
    
    box-sizing: border-box;

    position: absolute;
<<<<<<< HEAD
    width: 1000px;
    height: 40px;
=======
    width: 1201px;
    height: auto;
>>>>>>> 270a5e5db33cb29356a25bf6d594e8027298cd82
    
    background: #f5f0f0;
    border: 1.5px solid #252525;
    border-radius: 20px;
    display: flex;
    
    justify-content: space-between;
    /* transform: rotate(0.55deg); */
}
.rows_s{
    /* margin-top: 20px; */
    box-sizing: border-box;


width: 1000px;
height: 40px;

position: absolute;
background: #7D56A5;
border: 1.5px solid #252525;
border-radius: 20px;
transform: rotate(-0.55deg);
}
.head{
    margin: 100px;
}
.list{
    margin: 100px;
}
