.backbox {
  box-sizing: border-box;
  position: relative;
  width: 43.14px;
  height: 43.14px;
  background: #7d56a5;
  border: 1.5px solid #252525;
  border-radius: 10px;
  transform: rotate(8.04deg);
}
.upbox {
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  border: 1.5px solid #252525;
  border-radius: 10px;
  transform: rotate(-8.04deg);
}
.box{
  text-align: center;
  justify-content: center;
  margin: 4px;
}
#imagebacknext{
  margin-top: 15%;
}
.muneList{
  display: flex;
  flex-wrap: wrap;
  text-align: inherit;
  justify-content: right;
  height: auto;
  width: auto;
}

