.input {
    /* display: flex; */
}

.input>input {
    box-sizing: border-box;
    width: 374px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #7D839D;
    border-radius: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #252525;
}

.input>label {
    height: 25px;
    position: relative;
    top: -1px;
    left: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    color: #55575A;
    background: #FFFFFF;
}

.input>select {
    box-sizing: border-box;
    width: 374px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #7D839D;
    border-radius: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #252525;
}