.popup-outbox {
    box-sizing: border-box;

    position: absolute;
    width: 454px;
    height: 348.53px;
    left: 50%;
    top: 50%;

    background: #7D56A5;
    border: 1.5px solid #252525;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    transform: rotate(2.11deg);
}

.popup-inbox {
    box-sizing: border-box;

    position: absolute;
    width: 454px;
    height: 343px;
    left: 50%;
    top: 50%;

    background: #FFFFFF;
    border: 1.5px solid #252525;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.popup-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px;
    gap: 12px;

    position: relative;
    width: 400px;
    height: 25px;
    left: 0px;
    top: 30px;

}

.popup-title {
    width: 154px;
    height: 25px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    /* identical to box height, or 125% */

    text-align: center;

    color: #252525;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.popup-close {
    box-sizing: border-box;
    width: 34px;
    height: 34px;
    background: #7D56A5;
    border: 1.5px solid #252525;
    border-radius: 50%;
    text-align: center;


}

.popup-button-x {
    position: relative;
    width: 20px;
    height: 20px;
    top: 7px;
    left: 7px;
}

.popup-body {
    position: relative;
    display: inline;
}

.popup-fotter {
    display: flex;
    margin-left: auto;
    margin-right: 40px;

}

#overlay {
    position: fixed;
    transition: 200ms ease-in-out;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    pointer-events: none;
}

#overlay.active {
    opacity: 0.75;
    pointer-events: all;
}