
.all-login {
    position: absolute;
    top: 35%; 
    left: 45%;
    
}

.image{
    display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.forgot-password{
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 25px;
text-align: center;
text-decoration-line: underline;
color: #55575A;
}

email{
    width: 420px;
    height: 60px;  
}

.login-outbox {
    box-sizing: border-box;
    position: absolute;
    width: 504px;
    height: 345px;
    left: 32%;
    top: 55%;
    background: #7D56A5;
    border: 1.5px solid #252525;
    border-radius: 40px;
    transform: matrix(1, -0.06, 0, 1, 0, 0);
}

.login-inbox {
    box-sizing: border-box;

    position: absolute;
    width: 505px;
    height: 345px;
    left: 32%;
    top: 55%;

    background: #FFFFFF;
    border: 1.5px solid #252525;
    border-radius: 40px;
    display: flex;
    /* לתוכן שבתוכו */
    flex-direction: column;
    justify-content: space-around;
}

input{
    box-sizing: border-box;
    width: 420px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #7D839D;
    border-radius: 12px;

}
.login-container{
    /* background-image: url(../../../components/test/bak.png); */
}